body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #031426;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main,
ul,
li {
  display: flex;
  align-items: center;
  margin: 16px;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
a:hover {
  color: #ff8c00;
}
h1 {
  color: #ff8c00;
  font-weight: bold;
  font-size: 50px;
}
.presentation {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #031426;
  border-bottom: 5px solid #ff8c00;
}

.title {
  margin: 50px;
  width: 600px;
}
.para1 {
  color: #fff;
  font-size: 20px;
  padding: 5px;
}

button {
  width: 200px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff8c00;
  border: 2px solid #fff;
  font-size: 20px;
}

button:hover {
  color: #ff8c00;
  background-color: #fff;
  border: 2px solid #ff8c00;
}
.images {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.img {
  border-radius: 25px;
  border: 3px solid #ff8c00;
}

.produit {
}

.titreproduit {
  margin-top: 60px;
  display: flex;
  font-weight: bold;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  color: #031426;
}

.contenue {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 40px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.produitimg {
  border: 3px solid #ff8c00;
  border-radius: 25px;
}

.produitimg:hover {
  border: 3px solid #031426;
  border-radius: 25px;
  width: 200px;
}

.text {
  margin-top: 16px;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #031426;
}

.section1 {
  background-color: #03142641;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.apropos {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
.text1 {
  font-size: 18px;
  font-style: italic;
}

.auteur {
  text-align: right;
  padding-right: 100px;
}

.section2 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ff8c00;
  border-radius: 25px;
  padding: 25px;
  gap: 50px;
  height: 100px;
}
.para2 {
  font-size: 20px;
}

.footer {
  height: 80px;
  background-color: #031426;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
